<?php

// absolute path to the flashcards folder
// defined as global constant for convenience
if ( ! defined( 'FLASHCARDS_BASE_DIR' ) ) {
	define( 'FLASHCARDS_BASE_DIR', dirname(__DIR__));
}

return array(
    'base_dir' => FLASHCARDS_BASE_DIR,
    'auth' => array(
        'admin' => 'admin',
        'hebrew' => 'hebrew',
        'test' => 'test'
    )
);